.dialog{
    position: relative;
    margin-bottom:5px;
}
.dialog:hover{
    background-color: rgba(118, 184, 245, 0.281);
    cursor: pointer;
}
.dialog a.activeLink{
    color:red;
}

.dialog div{
    display: inline-block;
}

.dialog .userName{
    position: absolute;
    font-weight: bold;
    color:rgb(81, 54, 19);
    margin-left: 10px;
    top:15%;
}
a img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}