.nav{
    position: relative;
    grid-area: n;
    background-color: #eef3bc;
    padding: 20px;
}

 
.item a{
    font-weight: bold;
    font-size: 20px;
    color:#795548;
    text-decoration: none;
} 
.item a.activeLink{
    color: red;
} 

 .friends{
    position: absolute;
    right: 5px;
    left: 5px;
    bottom: 5px;
    bottom: 0;
}