.nav{
    grid-area: n;
    background-color: #eef3bc;
    padding: 20px;
}

 
.item a{
    font-weight: bold;
    font-size: 20px;
    color:#795548;
    text-decoration: none;
} 
.item a.activeLink{
    color: red;
} 